.footer {
    width: 100%;
    background-color: #121619;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
  }
  span{
    font-weight: bolder;
  }
  
  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 50px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  
  .footer p {
    font-size: 25px;
    color: white;
  }
  @media only screen and (max-width: 1300px) {
    
    .footer p {
      font-size: 20px;
      color: white;
  }
  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 40px;
    cursor: pointer;
    margin-bottom: 10px;
  }
}
  
  @media only screen and (max-width: 800px) {
    .footer p {
      font-size: 15px;
      color: white;
  }
  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 34px;
    cursor: pointer;
    margin-bottom: 10px;
  }
}
  @media only screen and (max-width: 650px) {
    .footer {
      padding: 10px;
    }
    .footer p {
      color: white;
      margin-top: -15px;
    }
    .socialMedia svg {
      color: white;
      margin: 20px;
      font-size: 25px;
      cursor: pointer;
      margin-bottom: 20px;
    }
  }